<html>
<head>
    <meta charset="UTF-8">
    <title>dipp challenge</title>

    <style type="text/css">
        @font-face {
            font-family: Gentium;
            src: url(https://fonts.gstatic.com/s/cinzeldecorative/v7/daaHSScvJGqLYhG8nNt8KPPswUAPniZQa-lDQzCLlQXE.ttf);
        }
        .textField {
            top:250px;
            left:250;
            max-width:200px; 
            max-height:200px; 
            font-family: Gentium, serif;
        }
    </style>
    
</head>
<body>
    <h1>Make a text fit in a box</h1>
    <form method="POST">
        <div>{{ runForm.csrf_token }}</div>
        <div>{{ runForm.name.label }} {{ runForm.name(class="textField")  }}</div>
        <div>{{ runForm.submit }}</div>

    </form>
</body>
</html>